.background{
  //position: relative;
  //height: 100vh;
  &__box{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;

    background-size: cover;
    background-position: center;
    &.rain__day{
      background-image: url("../img/background__rain__day.jpg");
    }
    &.rain__night{
      background-image: url("../img/background__raind__night.jpeg");
    }
  }
}