.background{
  //position: relative;
  //height: 100vh;
  &__box{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;

    background-size: cover;
    background-position: center;
    &.rain__day{
      background-image: url("../img/background__rain__day.jpg");
    }
    &.rain__night{
      background-image: url("../img/background__raind__night.jpeg");
    }

    &.wind__day{
      background-image: url("../img/background__wind.jpg");
    }
    &.clear__day{
      background-image: url("../img/background__clear__day.jpg");
    }
    &.clear__night{
      background-image: url("../img/background__clear__night.jpg");
    }
    &.partly__day{
      background-image: url("../img/background__fair__day.jpg");
    }
    &.partly__night{
      background-image: url("../img/background__fair__night.gif");
    }
    &.snow__night{
      background-image: url("../img/background__snow__night.jpg");
    }
    &.snow__day{
      background-image: url("../img/background__snow__day.jpg");
    }
    &.cloudy__day{
      background-image: url("../img/background__heavy__clouds__day.jpg");
    }


  }
}