@keyframes logo {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-250px);
  }
  100%{
    transform: translateX(0px);
  }

}

.navigation{
  position: fixed;
  top:0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(0,0,0, 0.3);
  &__box{
    padding: .5rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    &.active{

      opacity: 100;
      visibility: visible;
      transition: all 3s;

      &.animate{
        animation: logo 15s infinite linear;
      }
    }
    &__img{
      width: 100%;
      height: auto;
      object-fit: cover;


    }
  }
  &__form{
    display: flex;
    align-items: center;
    &-label{
      color: $color-lightgrey;
      font-size: 1.6rem;
      font-family: $font-second;

      & > .fas{

      }
      & span{
        //float: left;
        transform: translateX(50px);
      }

    }
    &-input{
      width: 20rem;
      background-color: transparent;
      border: none;
      padding: .5rem 1rem;
      border-bottom: 1px solid $color-lightgrey;
      outline: none;
      margin: 0 1rem;
      color: #fff;
      font-size: 1.6rem;

    }
    &-submit{
      border: none;
      border-radius: 5px;

      background-color: #6a6478;
      padding: .5rem 2rem;
      font-family: $font-primary;
      font-size: .9rem;
      font-weight: 400;
      //text-transform: uppercase;
      color: $color-lightgrey;
    }
  }
}