<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<form action="/" method="POST">
    <label for="team_name">Enter Location: </label>
    <input id="team_name" type="text" name="name" value="Enter Location">
    <input type="submit" value="OK">
</form>

<h2>Temperaturata e <%= temp %> in <%= name %></h2>
<div class="background" style="height: 100vh; width: 100%; position: absolute; top:0; left: 0; background-image: url( <%= photo %>);z-index: -1;"></div>


</body>
</html>